{% extends 'base.html' %}

{% block head %}
<title>Password Reset</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <h1>Password Reset</h1>
  <p>
    Forgotten your password? Enter your email address below,
    and we'll email instructions for setting a new one.
  </p>
  <form method="post">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}
