{% extends 'base.html' %}


{% block head %}
<title>Find A Flat</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Flats available</h1>
    <form method="get" action="">
        <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>
        <input type="submit" value="Search"/>
    </form>
    {% for flat in Flats %}


    <h3>{{ flat.name }}</h3>

    <p>{{ flat.description|truncatewords_html:80 }}</p>

    <p><a href="{% url 'flats:view_flat' flat.id %}">Show more</a>

    {% empty %}

    <p>No flat available.</p>

    {% endfor %}


</div>

{% endblock %}
